<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637231661792-r2d8nngaahcr7mq875h1jkp3v3nem2ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637231661792-r2d8nngaahcr7mq875h1jkp3v3nem2ag</string>
	<key>API_KEY</key>
	<string>AIzaSyBQqW-dM-oijjXwvfBSFuK8o_WmDixByVI</string>
	<key>GCM_SENDER_ID</key>
	<string>637231661792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harcamaTakip</string>
	<key>PROJECT_ID</key>
	<string>firestore-ders</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-ders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637231661792:ios:8fbcdedb2692a14f1e4685</string>
</dict>
</plist>